@using WebApplication20.Models
@model List<Member>
<div>
    <a asp-controller="Member" asp-action="Add" class="btn btn-primary">Add</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Profession Name</th>
            <th scope="col">IsDeleted</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Member member in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@member.Name</td>
                   <td input-for="@member.ProfessionId">@member.Profession.Name</td> 
                <td>
                    @if (member.IsDeleted == false)
                    {
                        <span class="text-success">Active</span> 
                    }
                    else
                    {
                        <span class="text-danger">InActive</span>
                    }
                </td>
                <td>
                    @if (member.IsDeleted == false)
                    {
                        <form asp-controller="Member" asp-action="Delete" asp-route-id="@member.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Member" asp-action="Restore" asp-route-id="@member.Id" method="post">
                            <button type="submit" class="btn btn-success">Restore</button>
                        </form>
                    }
                </td>
                <td>
                    <a asp-controller="Member" asp-action="Update" asp-route-id="@member.Id" class="btn btn-warning">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
